body {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    background-color: #da4302;
    height: 100vh;
    overflow: hidden;

}

.contact-info {
    text-align: center;

}

.contact-info h1 {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #333;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 60px;
}

.cen {
    max-width: 1200px;
    margin: 100px;
    overflow: hidden;
    padding: 20px;
}

.card {
    display: inline-block;
    width: calc(100% / 4);
    margin: 10px 30px;
    padding: 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
    background: #333;
    border-radius: 20px;
    height: 200px;

}

.card:hover {
    transform: scale(1.1);

}



.card i {
    color: #ddd;
    font-size: 50px;
    margin-bottom: 30px;
}

.card h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    color: #fff;
}

.card p {
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.footer {
    text-align: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
    background-color: #273036;
    color: #fff;
    font-size: 0.7rem;
    height: 80px;
    margin-top: 100px;


}

@media (max-width: 700px) {
    body {
        overflow: auto;
    }

    .cen {
        margin: 10px;
    }

    .card {

        width: 80%;
    }

    .card:hover {

        transform: matrix(1.1);
    }

    .footer {
        margin: 0;
    }

    svg path {
        display: none;
    }


}

@media (max-width: 400px) {
    .card {
        margin-left: 4px;
        width: 100%;
    }

    .footer {
        margin: 0;
    }
}